@import "./transition.scss";

html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #313033;
  overflow-x: hidden !important;
}

.page-container {
  background-color: #FFFFFF;
  padding: 10px 10px;
  height: 82vh;
  overflow-y: auto;
}

.table-header-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}


.el-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
}
